.BuildControl{
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.BuildControl :not(:last-child){
    margin-right: 15px;
}

.BuildControl button{
    display: block;
    font: inherit;
    cursor: pointer;
    outline: none;
    border: none;
    background: #F3EAC0;
	background-color:#DC9750;
	border-radius:12px;
	color:white;
	font-size:17px;
	padding:11px 25px;
    opacity: 1;
    transition: all .2s ease-in-out;
}

.BuildControl button:disabled {
    cursor: not-allowed;
    opacity: 0.8;
}

/* hover animation only when the button is active */
.BuildControl button:hover:not([disabled]){ 
    opacity: 0.8;
    transform: scale(1.1);
}

