.all {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 7%; /*top and left 30px and 10% on the bottom and right*/
    position:fixed;
    background-color: seashell;
    width: 100%;
    z-index: 20000;
}

.all img{
    width: 80px;
    height: 80px;
    cursor: pointer;
}

li, a, p{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.fontColorAndMarginForSideBar{
    color: wheat;
}

.fontColorForToolBar{
    color: black;
}

.nav__links{
    list-style: none;
    display: inline-block;
}

.nav__links li{
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
}

.nav__links li a{
    padding: 16px 10px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.nav__links li:hover{
    transform: scale(1.05);
}

.nav__links li a:active,
.nav__links li a.active {
    border: 2px solid #E1A967;
    padding: 15px 20px;
    border-radius: 2500px;
}

/* .burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
} */

@media (min-width: 1000px){
    .burger{
        display: none;
    }
}

@media (max-width: 1000px){
    
    .all{
        display: none;
    }

    .burger{
        position: relative;
        width: 80px;
        height: 80px;
        z-index: 1000000;
        display:flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .line{
        width: 25px;
        height: 3px;
        background-color: rgb(0, 0, 0);
        box-shadow: 0 2px 5px rgb(135, 132, 132);
        border-radius: 5px;
        transition: all .5 ease-in-out;
    }
    .line:before,
    .line:after{
        content: ' ';
        position: absolute;
        width: 25px;
        height: 3px;
        border-radius: 5px;
        background-color: rgb(0, 0, 0);
        box-shadow: 0 2px 5px rgb(135, 132, 132);
        margin: 5px;
        transition: all .5 ease-in-out;
    }

    .line:before{
        transform: translateY(-16px)
    }

    .line::after{
        transform: translateY(8px)
    }
}





