.SideDrawer{
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 1000;
    background-color: rgb(62, 44, 44);
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3 ease-out;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.SideDrawer img{
    height: 100px;
    width: 100px;
    
}

.SideDrawer nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px
}

.SideDrawer nav div{
    height: 70px;
}

.SideDrawer p{
    display: grid;
    place-items: center;
    padding-left: 20px;
    color: wheat;
    text-transform: capitalize;
    font-weight: 200;
}

@media (min-width: 1000px){
    .SideDrawer{
        display: none;
    }
}

@media (max-width: 380px){
    .SideDrawer nav{
        width: 250px;
    }
}

.Open{
    transform: translateX(0);
}

.Close{
    transform: translateX(-100%);
}
