.h2{
    padding: 10px;
    margin: 0;
}

.ul{
    margin: 0;
    padding-bottom: 10px;
}

.li{
    font-size: 22px;
}

.span{
    text-transform: capitalize;
}

.imagesAndCount{
    display: flex;
    align-items: center;
}

.align{
    flex: 1;
    font-size: 30px;
}

