.Modal{
    width: 400px;
    z-index: 3000;
    height: auto;
    margin:0 auto;
    display:table;
    position: absolute;
    left: 0;
    right:0;
    top: 50%; 
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%);
    background-color: red;
}

.Modal h2{
    padding: 10px;
    margin: 0;
}

.Modal ul{
    margin: 0;
    padding-bottom: 10px;
}