.Modal{
    width: 400px;
    z-index: 3000;
    height: auto;
    margin:0 auto;
    display:table;
    position: absolute;
    left: 0;
    right:0;
    top: 20%; 
    border: solid 1px black;
    /* -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%); */
    border-radius: 10px;
    background-color: #FFEFD5;
    animation: fadeIn .2s;
}

@keyframes fadeIn {
    0% {
        transform: scale(0.2);
    }
    25% {
        transform: scale(0.4);
    }
    50% {
        transform: scale(0.6);
    }
    75%{
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

